#content-sidebar {
  padding-left: 0;

  .sidebar-widgets {
    list-style: none !important;
    margin: 0;
  }

  .testimonial {
    margin-bottom: 20px;

    p {
      margin: 5px 0;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .content {
      font-style: italic;

      &:before {
        @extend .icon;
        @extend .icon-quotes-left;

        display: inline-block;
        color: #ccc;
        font-size: 25px;
      }
    }

    .author {
      text-align: right;
      font-size: 80%;
    }
  }
}

.body-content.full-width {
  #content-sidebar {
    display: none;
  }
}