/*
 * The main sidebar logo area.
 *
 * @since VanDam 0.1
 */

#site-logo {
  @include hide-for-mobile;

  margin-bottom: $gutter;
  text-align: center;
}

// Mobile logo area (in content)
#site-logo-mobile {
  h1 {
    text-align: center;

    img {
      width: 100%;
      max-width: 300px;
    }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }
}