/*
 * The sidebar nav menu.
 *
 * @since VanDam 0.1
 */

$social-icon-color: #999;

#site-social {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: $border-left-width;
  width: $border-width - $border-left-width;

  // .secondary-logo: 2, #site-nav: 3
  z-index: 3;

  @include hide-for-mobile;

  // Each social icon
  [class^="social"] {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    margin: 0 10px;

    a {
      color: $social-icon-color;
    }

    // For hovering
    &:hover a {
      color: darken($social-icon-color, 10%);
    }
  }
}