/*
 * The sidebar navigation.
 *
 * @since VanDam 0.1.0
 */

#site-nav {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: $gutter 0 $gutter $gutter;
  position: relative;

  // .secondary-logo: 2, #site-social: 3
  z-index: 3;

  * {
    font-size: inherit;
    font-weight: inherit;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .menu > .menu-item {
    position: relative;
    transition: padding-left 300ms;

    a {
      color: $secondary-color;
    }

    &:before {
      content: '';
      border-left: none;
      transition: all 300ms;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .menu > .current-menu-parent, .current-menu-item, .menu-item:hover {
    padding-left: 10px;

    &:before {
      border-left: 3px solid $primary-color !important;
    }
  }

  .sub-menu {
    display: none;
    list-style: none;
    margin: 0;

    .menu-item {
      padding-left: 20px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      &.active {
        display: block;
      }
    }
  }
}