/*
 * All theme-related, generic classes.
 *
 * @since VanDam 0.1
 */

.clear {
  clear: both;
  display: table;
}

.alignleft {
  float: left;
  margin-right: 40px;
  margin-bottom: 15px !important;
}

.alignright {
  float: right;
  margin-left: 40px;
  margin-bottom: 15px !important;
}

.aligncenter {
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.post-edit-link {
  font-size: 50%;
}