.dc-par {
  margin: 60px 0;
  box-sizing: border-box;
}
.dc-par:first-of-type {
  margin-top: 0;
}
.dc-par * {
  box-sizing: inherit;
}
.dc-line {
  width: 100%;
  height: 16px;
  margin: 16px 0;
}
.dc-line:first-of-type {
  margin-top: 0;
}
.dc-line > div {
  display: flex;
  height: 100%;
  background-color: #aaa;
}
[class^="dc-img"] {
  background-color: #aaa;
}
[class^="dc-img"][class*="small"] {
  width: 81px;
  height: 81px;
}
[class^="dc-img"][class*="large"] {
  width: 144px;
  height: 144px;
}
[class^="dc-img"][class*="left"] {
  float: left;
  margin-right: 15px;
}
[class^="dc-img"][class*="right"] {
  float: right;
  margin-left: 15px;
}