/*
 * The home action area (house and icons).
 *
 * @since VanDam 0.1
 */

$icon-collapsed: 75px;
$icon-expand-factor: 2.8;
$icon-transition: 500ms;
$icon-fire: #CF5D5E;
$icon-water: #5A5681;
$icon-wind: #5E78A5;
$icon-lightening: #EDC135;
$icon-mold: #899949;
$icon-information: #62A921;
$icon-phone: #4b8a7e;
$icon-hammer: #7f5b4e;

$icon-expanded: $icon-collapsed * $icon-expand-factor;

@mixin icon($icon, $top, $left, $color) {
  .icon-#{$icon} {
    top: $top;
    left: $left;

    .color-fill {
      background: $color;
    }
  }
}

@mixin icon-mobile($icon, $color) {
  .icon-#{$icon} {
    background: $color;
  }
}

#home-action {
  text-align: center;
  opacity: 1;
  transition: opacity 500ms;

  @include hide-for-mobile;

  &.hidden {
    opacity: 0;
  }

  .home-action-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .home-action-icons {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    transition: opacity 500ms;

    [class*="icon-"] {
      position: absolute;
      width: $icon-collapsed;
      height: $icon-collapsed;
      border-radius: $icon-collapsed / 2;
      overflow: hidden;
      background: #fff;
      padding: 5px;
      cursor: pointer;
      text-align: left;
      box-shadow: 4px 4px 20px rgba(#000, 0.9);
      transition: all $icon-transition;

      .content {
        visibility: hidden;
        opacity: 0;
        background: #fff;
        top: 50%;
        height: 50%;
        width: 200%;
        position: absolute;
        transition: all $icon-transition;
        padding: 0 30px 0 30px;
        z-index: 3;
        color: $body-font-color;
        font-family: $body-font-family;

        .title {
          font-weight: $font-weight-normal;
          font-size: 13px;
          line-height: 13px;
          text-transform: uppercase;
          margin: 3px 0;
        }

        .body {
          font-size: 11px;
          line-height: 13px;
          margin: 0;
        }
      }

      .color-fill {
        position: absolute;
        border-radius: $icon-collapsed / 2;
        width: $icon-collapsed * 0.85;
        height: $icon-collapsed * 0.85;
        top: $icon-collapsed * 0.075;
        left: $icon-collapsed * 0.075;
        z-index: 1;
        transition: all $icon-transition;
      }

      &:not(.icon-arrow-down) .color-fill {
        // Fix rounded corners and overflow hidden issue in Chrome (bugfix)
        -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
      }

      &:before {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: #fff;
        font-size: 43px;
        transition: all $icon-transition;
      }

      &:not(.icon-arrow-down):hover {
        width: $icon-expanded;
        height: $icon-expanded;
        border-radius: $icon-expanded / 2;
        box-shadow: 10px 10px 60px rgba(#000, 0.9);
        z-index: 10;

        // Keep centered when expanding (minus padding)
        margin-left: - ($icon-expanded / 4) - 10;
        margin-top: - ($icon-expanded / 4) - 10;

        .content {
          visibility: visible;
          opacity: 1;
          width: 100%;
        }

        .color-fill {
          border-radius: $icon-expanded / 2;
          width: $icon-expanded * 0.85;
          height: $icon-expanded * 0.85;
          top: $icon-expanded * 0.075;
          left: $icon-expanded * 0.075;
        }

        &:before {
          transform: translateY(-50%);
          top: 32%;
          left: $icon-expanded * 0.2;
        }
      }
    }

    // More below icon
    .icon-arrow-down {
      position: fixed;
      right: 40px;
      bottom: 20px;
      opacity: 0.6;

      @include hide-for-mobile;

      .color-fill {
        background: #888;
      }

      &.hidden {
        visibility: hidden;
        opacity: 0;
      }

      &:hover {
        opacity: 0.9;
      }
    }

    // Make icons smaller when screen gets smaller
    @media screen and (max-width: 900px) {
      $icon-mobile-collapsed: 50px;
      $icon-mobile-expanded: $icon-mobile-collapsed * ($icon-expand-factor * 1.2);

      [class*="icon-"] {
        width: $icon-mobile-collapsed !important;
        height: $icon-mobile-collapsed !important;
        border-radius: $icon-mobile-collapsed / 2 !important;

        .color-fill {
          border-radius: $icon-mobile-collapsed / 2 !important;
          width: $icon-mobile-collapsed * 0.85 !important;
          height: $icon-mobile-collapsed * 0.85 !important;
          top: $icon-mobile-collapsed * 0.075 !important;
          left: $icon-mobile-collapsed * 0.075 !important;
        }

        .content {
          padding: 0 20px 0 20px !important;

          .title {
            font-size: 9px !important;
            line-height: 10px !important;
            margin: 1px 0 !important;
          }

          .body {
            font-size: 8px !important;
            line-height: 9px !important;
          }
        }

        &:before {
          font-size: 24px !important;
        }

        &:hover {
          width: $icon-mobile-expanded !important;
          height: $icon-mobile-expanded !important;
          border-radius: $icon-mobile-expanded / 2 !important;

          // Keep centered when expanding (minus padding)
          margin-left: - ($icon-mobile-expanded / 4) - 10 !important;
          margin-top: - ($icon-mobile-expanded / 4) - 10 !important;

          .color-fill {
            border-radius: $icon-mobile-expanded / 2 !important;
            width: $icon-mobile-expanded * 0.85 !important;
            height: $icon-mobile-expanded * 0.85 !important;
            top: $icon-mobile-expanded * 0.075 !important;
            left: $icon-mobile-expanded * 0.075 !important;
          }

          &:before {
            left: $icon-mobile-expanded * 0.2 !important;
          }
        }
      }
    }

    // Individual icons
    @include icon('fire', 22%, 37%, $icon-fire);
    @include icon('water', 64%, 66%, $icon-water);
    @include icon('wind', 20%, 14%, $icon-wind);
    @include icon('lightening', 10%, 55%, $icon-lightening);
    @include icon('hammer', 49%, 44%, $icon-hammer);
    @include icon('mold', 46%, 81%, $icon-mold);
    @include icon('information', 71%, 16%, $icon-information);
    @include icon('phone', 80%, 39%, $icon-phone);
  }
}

// MOBILE
#home-action-mobile {
  display: none;
  @include show-for-mobile;
  text-align: center;
  padding: 0 $gutter;

  .tagline {
    font-style: italic;
  }

  .tagline, .locations {
    margin: 0 !important;
  }

  .button-alt {
    width: 100%;

    background: transparent;
    color: $body-font-color;

    .left {
      float: none !important;
      display: inline-block;
      margin-right: 10px;
    }

    .right {
      float: none !important;
      display: inline-block;
      text-align: left;
    }

    .icon-phone {
      font-size: 30px;
    }
  }

  .home-icons {
    list-style: none;
    padding: 0;
    margin: 0 -5px;
    width: auto;
    max-width: none;

    li {
      float: left;
      width: 25%;
      padding: 5px;

      // Make them all flush with the bottom at this width
      @media screen and (min-width: 550px) {
        width: 12.5%;

        [class*="icon-"] {
          font-size: 30px;
        }
      }
    }

    .container {
      background: #fff;
      padding: 5px;
      box-shadow: 4px 4px 10px rgba(#000, 0.4);
    }

    .color-fill {
      // Will be overridden by JS, just a starting point
      height: 50px;
    }

    [class*="icon-"] {
      color: #fff;
      font-size: 42px;

      &:before {
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    // Individual icons
    @include icon-mobile('fire', $icon-fire);
    @include icon-mobile('water', $icon-water);
    @include icon-mobile('wind', $icon-wind);
    @include icon-mobile('lightening', $icon-lightening);
    @include icon-mobile('hammer', $icon-hammer);
    @include icon-mobile('mold', $icon-mold);
    @include icon-mobile('information', $icon-information);
    @include icon-mobile('location', $icon-phone);
  }
}