/*
 * The header bar above the content when on mobile.
 *
 * @since VanDam 0.1
 */

#mobile-header {
  height: $mobile-header-height;
  background: $light-color;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 5px;
  z-index: 500;
  display: none;

  @include show-for-mobile;

  .mobile-action {
    font-size: 30px;
    color: $body-font-color;

    &.menu {
      float: left;
    }

    &.content {
      float: left;
      display: none;
    }
  }
}

// Move down when admin bar is visible
body.admin-bar {
  #mobile-header {
    top: 32px;

    // Adminbar gets taller when screen is smaller
    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }
}

// Icon swap
#wrapper {
  &.move-right {

    #mobile-header .mobile-action.content {
      display: block;
    }

    #mobile-header .mobile-action.menu {
      display: none;
    }
  }
}